.login_pannel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .mash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #f8fafe;
    opacity: 0.78;
  }

  .video_bg {
    width: 100%;
  }

  .logo {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -50px;
    width: 100px;

    & > img {
      position: absolute;
      top: 0;
      left: 50%;
      opacity: 0;
      margin-left: -40px;
      width: 80px;
      height: 80px;
      transition: all .5s linear;
    }
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    width: 280px;
    margin-left: -140px;
    margin-top: -30px;
    opacity: 0;
    transition: all .5s linear;

    & > div {
      position: relative;
      width: 100%;
      height: 39px;
      border-bottom: 1px solid rgba(0,0,0,0.12);
      margin-bottom: 35px;

      .placeholder {
        position: absolute;
        top: 0;
        z-index: -1;
        color: #888;
        font-size: 15px;
        line-height: 39px;
        transition: all .2s ease-out;
      }

      input {
        width: 100%;
        height: 39px;
        font-size: 15px;
        line-height: 39px;
        background-color: transparent;
      }

      .border {
        position: absolute;
        top: 39px;
        left: 140px;
        display: block;
        width: 0;
        height: 2px;
        background-color: #3EBE8C;
        transition: all .2s ease-out;
      }
    }

    .focus {
      .placeholder { color: #3EBE8C !important; transform: translate(-15px, -28px) scale(0.8); }
      .border { left: 0 !important; width: 100% !important; }
    }

    .hasVal {
      .placeholder { color: #888; transform: translate(-15px, -28px) scale(0.8); }
      .border { left: 140px; width: 0; }
    }

    .save_login_status {
      display: block;
      margin-top: 30px;
      font-size: 12px;
      color: #3EBE8C;
      cursor: pointer;

      & > span {
        margin-left: 1px;
        transition: all .2s linear;
      }
    }

    .submit {
      background-color: #3EBE8C;
      margin-top: 17px;
    }

    .submiting {
      opacity: 0.5;
    }
  }
}
