.loading {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;

  span {
    position: absolute;
    top: 15vh;
    left: 50%;
    margin-left: -13px;
    font-size: 30px;
    color: #93A5A6;
  }
}
